.banner {
  padding-top: 4%;
  padding-right: 5%;
  text-align: right;
  font-family: 'Griffy', cursive;
  /*font-family: 'Open Sans', sans-serif;*/
}

#title {
  color: #3b8332;
  font-size: 3.5em;
}

#subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: #7d7d7d;
}

#projectIntro {
  padding: 3% 20% 2% 0%;
}

#plot1 svg {
  padding-top: 25%;
  padding-left: 13%;
}

.canvas{
  width:100%;
  min-height:800px;
}

.plot{
	height:2500px;
  /*min-height: 1000px;*/
  /*padding-top: 100px;*/
}

#plot2 {
  /*position: fixed;
  left: 72%;
  top: 25%;*/
  margin-top: 10%;
}

.node .outer{
   opacity:.3;
}

.container{
    width: 95%;
    margin-left: 4%;
    margin-right: 0;
    position:relative;
}

.custom-tooltip {
    /*width: 100px;
    height: 60px;*/
    position:absolute;
    width:400px;
    min-height:50px;
    padding:15px;
    background:white;
    box-shadow: 0 2px 2px 0px rgba(0,0,0,.1);
    top:0;
    left:0;

    border: 1px solid #ddd;
    border-radius: 8px;
    opacity: 0;
    background: #eee;
    /*padding: 3px;*/
    /*text-align: center;*/
}

#tooltip.hidden {
  display: none;
}

.custom-tooltip .title{
  /*font-size:1.2em;*/
  /*font-weight:bold;*/
  /*text-align: center;*/
  padding:5% 0 1% 0;
  text-transform: capitalize;
  /*border-bottom: 1px solid #eee;*/
}

.promptContainer {
  margin-left: 7%;
}

.selectedIngredient, .selectedCuisine {
  text-transform: capitalize;
  font-weight: bold;
}

.rect text {
  text-transform: capitalize;
}

.axis .tick line{
    stroke: #b3b3b3;
}

.axis .tick line{
    stroke-width:.5px;
}

.colLabelg {
  padding-top: 100px;
}

.rowLabelg {
  text-transform: capitalize;
}

.about {
    margin-top: 3%;
    margin-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    color: #565656;
}

.aboutTitle {
    text-transform:uppercase;
    font-size: 1.2em;
    padding: 10px 0px;
    font-weight:bold;
    border-bottom: 1px solid #858585;
}

.aboutContent {
    padding-top: 10px;
}

/*-----------plot 3 & 4--------*/
#plot3 svg{
  padding-top: 20%;
  padding-left: 3%;
}

#plot4 {
  margin-top: 10%;
  padding-left: 0;
  border-left: 1px solid #eee;
}

.plot4Title{
  /*margin-left: 2%;*/
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 2%;
}

.cuisineABLabel div {
  display: inline-block;
}

.cuisineABLabel {
  opacity: 0;
  position: absolute;
  left: 7%;
}

#cuisineA {
  text-align: right;
}

#cuisineA, #cuisineB {
  width: 250px;
  font-weight: bold;
}

.barLabelg {
  text-transform: capitalize;
}

.cuisineSimilarityContainer {
  opacity: 0;
  margin-left: 2%;
  margin-top: 5%;
  /*top: 5%;
  position: absolute;*/
}

/*---------Legend-----------*/
.legendRow {
  padding-left: 15%;
}

.stop-left {
    stop-color: white;  /* Indigo */
  }

.stop-right {
  stop-color: #36802d;  /* Teal */
}

.filled {
  fill: url(#gradient);
}

.key, .btn-group {
  display: inline-block;
}

.btn-group {
  padding-left: 7%;
}
/*-------spiral chart------*/
/*.axis path {
  fill: none;
  stroke: #999;
  stroke-dasharray: 2 3;
}
.axis text {
  font-size: 13px;
  stroke: #222;
}
text.title {
  font-size: 24px;
}
circle.tick {
  fill: #f3f3f3;
  stroke: #999;
  stroke-dasharray: 2 3;
}
path.spiral {
  fill: none;
  stroke: #ee8d18;
  stroke-width: 3px;
}*/
